/* Customer.css */

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 12px;
    text-align: left;
    border: 0px solid #ddd;
  }
  
  table th {
    background-color: #4CAF50;
    color: white;
  }
  
  form table {
    margin: 20px auto;
    width: 80%;
  }
  
  form td {
    padding: 10px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  